<div class="row">

    <div class="col-md-3">

        <div class="list-group" ng-controller="CategoryCtrl as CatCtrl">
            <a href="#/category/{{category.id}}" class="list-group-item" ng-class="{active: CatCtrl.isSelected(category.id)}" ng-repeat="category in CatCtrl.categories | orderBy: 'name'" ng-click="CatCtrl.setCategory(category.id)">
               {{ category.name }} </a>
        </div>

    </div>
    <div class="col-md-9">

        <ngcart-summary></ngcart-summary>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Carrito de Compras</div>
            </div>
            <div class="panel-body">

                <ngcart-cart></ngcart-cart>

            </div>
            <div class="panel-footer text-right">
                <a href="#/shipping" class="btn btn-success">Siguiente</a>
            </div>
        </div>





    </div>

</div>
