<section id="content">

    <div class="container">

        <img src="images/bn_contacto.png" alt="" width="940" height="180" />

        <br><br>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-7"><h1>Contacto</h1></div>
                            <div class="col-md-5"><h2>Informaciones</h2></div>
                        </div>

                        <div class="row">
                            <div class="col-md-7">
                                <form>
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Empresa</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Fono</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Mensaje</label>
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                    <button type="submit"><span>Enviar</span></button>
                                </form>
                            </div>
                            <div class="col-md-5">

                                <ul class="contacts">
                                    <li class="phone">+56 41 224 3755</li>
                                    <li class="location">Manuel Bulnes 753, Concepción</li>
                                    <li class="mail">plasticos1@gmail.com</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <h1>¿Donde estamos?</h1>

        <div id="map">
            <div id="map_canvas">

            </div>
        </div>

        <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>

        <script>
            function initMap() {

                var myLatLng = {lat: -36.819985, lng: -73.05301};

                // Create a map object and specify the DOM element for display.
                var map = new google.maps.Map(document.getElementById('map_canvas'), {
                center: myLatLng,
                scrollwheel: false,
                zoom: 17
                });

                // Create a marker and set its position.
                var marker = new google.maps.Marker({
                    map: map,
                    position: myLatLng,
                    title: 'Manuel Bulnes 753'
                });
            }

        </script>

    </div>

</section>
