<section id="slider">

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="slider">
                        <a href="#/products/prepicado"><img src="images/slider/slider01.png" alt="Image 1" /></a>
                        <a href="#/products/rinon"><img src="images/slider/slider02.png" alt="Image 2" /></a>
                        <a href="#/products/camiseta"><img src="images/slider/slider03.png" alt="Image 3" /></a>
                    </div>
                    <link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen"/>
                    <script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
                    <script type="text/javascript" src="js/sliders.js"></script>
                </div>
            </div>
        </div>
    </section>

    <br><br>
</section>
<div class="clear"></div>
<section id="content" style="padding-top: 0 !important">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <div class="post-content">

                        <h1 class="top-40 category-title">Ofertas Destacadas</h1>

                        <div id="default_products_page_container" class="wrap wpsc_container">

                            <div class="wpsc_default_product_list row" ng-controller="ProductHighlightsCtrl as HighCtrl">
                                <div class="col-md-4" ng-repeat="product in HighCtrl.products">
                                    <div class="default_product_display">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="imagecol">
                                                    <a href="#/detail/{{product.id}}">
                                                        <img class="product_image" title="{{ product.name }}" ng-src="{{ product.image }}" alt="{{ product.name }}" height="218" width="218" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="productcol">
                                                    <h3 class="prodtitle entry-title">
                                                        <a class="wpsc_product_title" href="#/detail/{{product.id}}">{{ product.name }}</a>
                                                    </h3>
                                                    <div class="wpsc_description text-center">
                                                        <strong>{{ product.price | currency : '$' : 1 }} {{ product.unit == 0 ? "el Kg" : "la Unidad" }}</strong>
            		                                    <br>
                                                        <p>{{ product.description }}</p>
                                                    </div>
                                                    <div class="wpsc_product_price">
                                                        <p class="pricedisplay"> <span class="currentprice pricedisplay"><span class="price_price">Precio:</span><span class="csymb">$</span>{{ product.price * product.minimun | currency : '' : 0 }}</span></p>
                                                        <div class="clear"></div>
                                                    </div>
                                                    <div class="wpsc_buy_button_container">
                                                        <a class="button" href="#/detail/{{product.id}}"><span>Comprar</span></a>
                                                    </div>
                                                    <div class="entry-utility wpsc_product_utility"></div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="shade">
                                            <div class="shade_in">
                                                <div class="shade_bg"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>

                                <div class="clear"></div>
                            </div>

                        </div>
                    </div>
                    <div class="clear"></div>
                </article>
                <nav class="newer-older">
                    <div class="older">
                    </div>
                    <div class="newer">
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>
