<section id="featured_products">

    <section class="black_texture">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="wpec-slider">
                        <ul>
                            <li class="pim-left first" >
                                <a class="product-image" href="http://lookshop.transparentideas.com/?wpsc-product=loveseat"><img src="images/sillon3.png" width="709" height="384"></a>
                                <div class="about" style="width:25%; ">
                                    <a class="product-name wpsc-product-177" href="http://lookshop.transparentideas.com/?wpsc-product=loveseat" style="color:#ffffff" onmouseover="this.style.color='#ffffff'" onmouseout="this.style.color='#ffffff'"><h1>Loveseat</h1></a>
                                    <div class="description" style="color:#ffffff">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat aliquam lectus, ut molestie enim condimentum ac.
                                    </div><div class="buyit"><span class="price" style="color:#eeeeee;">price &nbsp;<span class="csymb">$</span>399.00</span><form class="product_form" id="product_177" enctype="multipart/form-data" action="http://lookshop.transparentideas.com/?wpsc-product=loveseat" method="post" name="product_177"><input type="hidden" value="add_to_cart" name="wpsc_ajax_action" /><input type="hidden" value="177" name="product_id" /><div class="wpsc_buy_button_container"><div class="wpsc_loading_animation" style="height:42px;width:42px;"></div><!--close wpsc_loading_animation--><input style="" type="submit" value="Add To Cart" name="Buy" class="wpsc_buy_button" id="product_177_submit_button" /></div><!--close wpsc_buy_button_container--></form></div><!--buyit-->
                                </div>
                            </li>
                            <li class="pim-right" >
                                <a class="product-image" href="http://lookshop.transparentideas.com/?wpsc-product=sofa"><img src="images/sillon2.png" width="709" height="384"></a>
                                <div class="about" style="width:30%; ">
                                    <a class="product-name wpsc-product-150" href="http://lookshop.transparentideas.com/?wpsc-product=sofa" style="color:#eeeeee" onmouseover="this.style.color='#ffffff'" onmouseout="this.style.color='#eeeeee'"><h1>Sofa</h1></a>
                                    <div class="description" style="color:#eeeeee">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat aliquam lectus, ut molestie enim condimentum ac.
                                    </div><div class="buyit"><span class="price" style="color:#eeeeee;">price &nbsp;<span class="csymb">$</span>499.00</span><form class="product_form" id="product_150" enctype="multipart/form-data" action="http://lookshop.transparentideas.com/?wpsc-product=sofa" method="post" name="product_150"><input type="hidden" value="add_to_cart" name="wpsc_ajax_action" /><input type="hidden" value="150" name="product_id" /><div class="wpsc_buy_button_container"><div class="wpsc_loading_animation" style="height:42px;width:42px;"></div><!--close wpsc_loading_animation--><input style="" type="submit" value="Add To Cart" name="Buy" class="wpsc_buy_button" id="product_150_submit_button" /></div><!--close wpsc_buy_button_container--></form></div><!--buyit-->
                                </div>
                            </li>
                            <li class="pim-right" >
                                <a class="product-image" href="http://lookshop.transparentideas.com/?wpsc-product=side-table"><img src="images/mesa.png" width="709" height="384"></a>
                                <div class="about" style="width:25%; ">
                                    <a class="product-name wpsc-product-99" href="http://lookshop.transparentideas.com/?wpsc-product=side-table" style="color:#eeeeee" onmouseover="this.style.color='#ffffff'" onmouseout="this.style.color='#eeeeee'"><h1>Side Table</h1></a>
                                    <div class="description" style="color:#eeeeee">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat aliquam lectus, ut molestie enim condimentum ac.
                                    </div><div class="buyit"><span class="price" style="color:#eeeeee;">price &nbsp;<span class="csymb">$</span>189.00</span><form class="product_form" id="product_99" enctype="multipart/form-data" action="http://lookshop.transparentideas.com/?wpsc-product=side-table" method="post" name="product_99"><input type="hidden" value="add_to_cart" name="wpsc_ajax_action" /><input type="hidden" value="99" name="product_id" /><div class="wpsc_buy_button_container"><div class="wpsc_loading_animation" style="height:42px;width:42px;"></div><!--close wpsc_loading_animation--><input style="" type="submit" value="Add To Cart" name="Buy" class="wpsc_buy_button" id="product_99_submit_button" /></div><!--close wpsc_buy_button_container--></form></div><!--buyit-->
                                </div>
                            </li>
                            <li class="pim-left" >
                                <a class="product-image" href="http://lookshop.transparentideas.com/?wpsc-product=armchair"><img src="images/sillon.png" width="685" height="384"></a>
                                <div class="about" style="width:35%; ">
                                    <a class="product-name wpsc-product-48" href="http://lookshop.transparentideas.com/?wpsc-product=armchair" style="color:#eeeeee" onmouseover="this.style.color='#ffffff'" onmouseout="this.style.color='#eeeeee'"><h1>Armchair</h1></a>
                                    <div class="description" style="color:#eeeeee">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat aliquam lectus, ut molestie enim condimentum ac.
                                    </div><div class="buyit"><span class="price" style="color:#eeeeee;">price &nbsp;<span class="csymb">$</span>299.00</span><form class="product_form" id="product_48" enctype="multipart/form-data" action="http://lookshop.transparentideas.com/?wpsc-product=armchair" method="post" name="product_48"><input type="hidden" value="add_to_cart" name="wpsc_ajax_action" /><input type="hidden" value="48" name="product_id" /><div class="wpsc_buy_button_container"><div class="wpsc_loading_animation" style="height:42px;width:42px;"></div><!--close wpsc_loading_animation--><input style="" type="submit" value="Add To Cart" name="Buy" class="wpsc_buy_button" id="product_48_submit_button" /></div><!--close wpsc_buy_button_container--></form></div><!--buyit-->
                                </div>
                            </li>
                        </ul>
                    </div>
                    <script>
                        jQuery(window).load(function(){
                            jQuery('.about').each(function(){

                            });
                            jQuery('#wpec-slider').wpecSlider({
                                directionalNav:true,
                                hiddenDirNav:true,
                                autoplay:3000,
                                pagination: true,
                                pauseOnHover: true,
                                animationSpeed: 1000,
                                current: jQuery('#wpec-slider > ul > li').index(jQuery('.first'))
                            });

                            jQuery('#wpec-slider > ul > li').each(function(i){
                                if(jQuery(this).hasClass('first')){
                                    jQuery('#wpec-slider .pagination li:eq('+ i +')').addClass('curr');
                                }
                                var opts = {
                                    lines: 11,
                                    length: 3,
                                    width: 2,
                                    radius: 4,
                                    corners: 0,
                                    rotate: 90,
                                    color: jQuery(this).find('.price').css('color'),
                                    speed: 2.2,
                                    trail: 50,
                                    shadow: false,
                                    hwaccel: true,
                                    className: 'spinner',
                                    zIndex: 200,
                                    top: '23px',
                                    left: '0'
                                };
                                var target = jQuery(this).find('.wpsc_loading_animation');
                                var spinner = new Spinner(opts).spin(target);
                                target.append(spinner.el);
                            });
                            jQuery('#wpec-slider').resizable({ handles: "s", minHeight: 100, maxHeight: 320 });


                        });
                    </script>
                </div>
            </div>
        </div>
    </section>
</section>
<div class="clear"></div>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <div class="post-content">

                        <h1 class="top-40 category-title">Ofertas Destacadas</h1>

                        <div id="default_products_page_container" class="wrap wpsc_container">

                            <div class="wpsc_default_product_list row" ng-controller="ProductHighlightsCtrl as HighCtrl">
                                <div class="col-md-4" ng-repeat="product in HighCtrl.products">
                                    <div class="default_product_display">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="imagecol">
                                                    <a href="#/detail/{{product.id}}">
                                                        <img class="product_image" title="{{ product.name }}" ng-src="{{ product.image }}" alt="{{ product.name }}" height="218" width="218" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="productcol">
                                                    <h3 class="prodtitle entry-title">
                                                        <a class="wpsc_product_title" href="#/detail/{{product.id}}">{{ product.name }}</a>
                                                    </h3>
                                                    <div class="wpsc_description text-center">
                                                        <strong>{{ product.price | currency : '$' : 1 }} {{ product.unit == 0 ? "el Kg" : "la Unidad" }}</strong>
            		                                    <br>
                                                        <p>{{ product.description }}</p>
                                                    </div>
                                                    <div class="wpsc_product_price">
                                                        <p class="pricedisplay"> <span class="currentprice pricedisplay"><span class="price_price">Precio:</span><span class="csymb">$</span>{{ product.price * product.minimun | currency : '' : 0 }}</span></p>
                                                        <div class="clear"></div>
                                                    </div>
                                                    <div class="wpsc_buy_button_container">
                                                        <a class="button" href="#/detail/{{product.id}}"><span>Comprar</span></a>
                                                    </div>
                                                    <div class="entry-utility wpsc_product_utility"></div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="shade">
                                            <div class="shade_in">
                                                <div class="shade_bg"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>

                                <div class="clear"></div>
                            </div>

                        </div>
                    </div>
                    <div class="clear"></div>
                </article>
                <nav class="newer-older">
                    <div class="older">
                    </div>
                    <div class="newer">
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>
