<div class="row">
    <div class="col-md-9">
        <div class="slider">
            <img src="images/slider/slider01.png" alt="Image 1" />
            <img src="images/slider/slider02.png" alt="Image 2" />
            <img src="images/slider/slider03.png" alt="Image 3" />
        </div>
    </div>
        
    <div class="col-md-3">
        <a href="#/products"><img style="margin-bottom:11px;" src="images/slider/banner01.png" alt="" /></a>
        <a href="#/services"><img style="margin-bottom:11px;" src="images/slider/banner02.png" alt="" /></a>
    </div>

</div>

<!-- Contenidos -->            
<div class="row">
    <!-- Links Categorias -->
    <div class="col-md-3">
        <h1 class="bessalle">CATEGORIAS</h1>

        <p>Disponemos de una gran variedad de productos.</p>
        <ul class="list">
                <li><a href="bol_camiseta.html">Bolsas Camiseta</a> </li>
                <li><a href="bol_tiporinon.html">Bolsas Tipo Riñon</a> </li>
                <li><a href="bol_tipobasura.html">Bolsas Tipo Basura</a> </li>
                <li><a href="bol_amedida.html">Bolsas a Medida</a> </li>
                <li><a href="bol_tipocarbon.html">Bolsas Tipo Carbón</a> </li>
                <li><a href="rollo_prepicados.html">Rollos y Mangas Prepicados</a> </li>
                <li><a href="bol_biodegradable.html">Bolsas Biodegradables</a> </li>
                <li><a href="bol_almidon.html">Bolsas de Almidón (PLA)</a> </li>
                <li><a href="cintas.html">Cintas Peligro y Señalización</a> </li>
          </ul>

    </div>
    <!-- Fin Categorias -->

    <!-- Bienvenidos -->                        
    <div class="col-md-6">
        <h1 class="bessalle">BIENVENIDOS</h1>

        <p class="bessalle"> Plásticos Bessalle es una empresa creada el año 1990 para la transformación  del plástico de polietileno y específicamente 
            la fabricación de bolsas camiseta (T-Shirt Bag) para supermercados y mercado retail en general. Una amplia y reconocida 
            cartera de clientes de Chile, avalan nuestro constante compromiso de ser líderes en calidad y servicio.
        </p>
        <p style="color:#960;" class="bessalle"> 
        Roberto Bessalle Rémoli.<br/>
        M.Sc; Ph.D; MBA.<br/>
          Gerente General <br/>
          Plásticos Bessalle LTDA.</p>

        <h3 class="bessalle">Misión</h3>
        <p class="bessalle"> Entregar a todos nuestros clientes la satisfacción del servicio y calidad en cada producto, además exigiendo el máximo 
            esfuerzo y responsabilidad  en sus compromisos para complacencia de cada cliente en particular y mantener un sistema 
            confortable de negocios.</p>
        
        <p class="bessalle"> Le invitamos a navegar por nuestro sitio web y conocer nuestros productos. <br/>
            Ante cualquier duda o consulta no dude en <a href="#/contact">contactarnos.</p>   

        
    </div>
    <!-- Fin Productos Destacados -->
    <div class="col-md-3">
        <br><br><br>
        <a href="#/services"><img src="images/destacados/producto01.png" alt="" width="220" height="162" /></a>
        <a href="#/contact"><img src="images/destacados/producto02.png" alt="" width="220" height="162"  class="bessalle"/></a>
    </div>
</div>

<script type="text/javascript" src="js/sliders.js"></script>