<section id="content">

    <div class="container">

        <img src="images/bn_productos.png" alt="" width="940" height="180" />

        <br><br>

        <div class="panel panel-default">

            <div class="panel-body">

                <h1>Disponemos de una gran variedad de productos.</h1>

                <ul>
                        <li>Bolsas Camiseta</li>
                        <li>Bolsas Tipo Riñon</li>
                        <li>Bolsas Tipo Basura</li>
                        <li>Bolsas a Medida</li>
                        <li>Bolsas Tipo Carbón</li>
                        <li>Rollos y Mangas Prepicados</li>
                        <li>Bolsas Biodegradables</li>
                        <li>Bolsas de Almidón (PLA)</li>
                        <li>Cintas Peligro y Señalización</li>
                </ul>


                </div>

            </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4"><img src="images/productos/01.png" alt="" width="220" height="310" /></div>
                <div class="col-md-4"><img src="images/productos/02.png" alt="" width="220" height="310" /></div>
                <div class="col-md-4"><img src="images/productos/03.png" alt="" width="220" height="310" /></div>
            </div>
        </div>

    </div>

</section>
