<div class="row">
    <div class="col-md-12"><img src="images/bn_productos.png" alt="" width="940" height="180" /></div>
</div>

<div class="row">
    <!-- Links Categorias -->
    <div class="col-md-3">
        <h1 class="bessalle">CATEGORIAS</h1>

        <p>Disponemos de una gran variedad de productos.</p>
        <ul class="list">
                <li><a href="bol_camiseta.html">Bolsas Camiseta</a> </li>
                <li><a href="bol_tiporinon.html">Bolsas Tipo Riñon</a> </li>
                <li><a href="bol_tipobasura.html">Bolsas Tipo Basura</a> </li>
                <li><a href="bol_amedida.html">Bolsas a Medida</a> </li>
                <li><a href="bol_tipocarbon.html">Bolsas Tipo Carbón</a> </li>
                <li><a href="rollo_prepicados.html">Rollos y Mangas Prepicados</a> </li>
                <li><a href="bol_biodegradable.html">Bolsas Biodegradables</a> </li>
                <li><a href="bol_almidon.html">Bolsas de Almidón (PLA)</a> </li>
                <li><a href="cintas.html">Cintas Peligro y Señalización</a> </li>
        </ul>

    </div>

    <div class="col-md-9">
        <h1 class="bessalle">PRODUCTOS</h1>
        <div class="row">
          <div class="col-md-4"><img src="images/productos/01.png" alt="" width="220" height="310" /></div>
          <div class="col-md-4"><img src="images/productos/02.png" alt="" width="220" height="310" /></div>
          <div class="col-md-4"><img src="images/productos/03.png" alt="" width="220" height="310" /></div>
        </div>
            
    </div>
</div>