<div class="row">
    <div class="col-md-3">

        <div class="list-group" ng-controller="CategoryCtrl as CatCtrl">
            <a href="#/category/{{category.id}}" class="list-group-item" ng-class="{active: CatCtrl.isSelected(category.id)}" ng-repeat="category in CatCtrl.categories | orderBy: 'name'" ng-click="CatCtrl.setCategory(category.id)">
               {{ category.name }} </a>
        </div>

    </div>



    <div class="col-md-8" ng-controller="ShippingCtrl as ShippCtrl">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Información de la Compra</h3>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-12">
                        <h4>Datos de Facturación</h4>
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="billing_rut">RUT:</label>
                        <input type="text" name="billing_rut" id="billing_rut" class="form-control" ng-model="ShippCtrl.Data.billing.rut">
                    </div>
                    <div class="col-md-8 form-group">
                        <label for="billing_business">Giro:</label>
                        <input type="text" name="billing_business" id="billing_business" class="form-control" ng-model="ShippCtrl.Data.billing.business">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="billing_name">Razón Social:</label>
                        <input type="text" name="billing_name" id="billing_name" class="form-control" ng-model="ShippCtrl.Data.billing.name">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="billing_email">Email:</label>
                        <input type="text" name="billing_email" id="billing_email" class="form-control" ng-model="ShippCtrl.Data.billing.email">
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="billing_phone">Teléfono:</label>
                        <input type="text" name="billing_phone" id="billing_phone" class="form-control" ng-model="ShippCtrl.Data.billing.phone">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="billing_region">Región</label>
                        <select id="billing_region" name="billing_region" ng-options="region as region.REGION_NOMBRE for region in ShippCtrl.billing.regiones" ng-change="ShippCtrl.setRegionBilling(ShippCtrl.Data.billing.region.REGION_ID)" class="form-control" ng-model="ShippCtrl.Data.billing.region">
                            <option value="">Seleccione</option>
                        </select>
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="billing_provincia">Provincia</label>
                        <select id="billing_provincia" name="billing_provincia" ng-options="provincia as provincia.PROVINCIA_NOMBRE for provincia in ShippCtrl.billing.provincias" ng-change="ShippCtrl.setProvinciaBilling(ShippCtrl.Data.billing.provincia.PROVINCIA_ID)" class="form-control" ng-model="ShippCtrl.Data.billing.provincia">
                            <option value="">Seleccione</option>
                        </select>
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="billing_comuna">Comuna</label>
                        <select id="billing_comuna" name="billing_comuna" ng-options="comuna as comuna.COMUNA_NOMBRE for comuna in ShippCtrl.billing.comunas" ng-change="ShippCtrl.setComunaBilling(ShippCtrl.Data.billing.comuna.COMUNA_ID)" class="form-control" ng-model="ShippCtrl.Data.billing.comuna">
                            <option value="">Seleccione</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 form-group">
                        <label for="billing_address1">Dirección:</label>
                        <input type="text" name="billing_address1" id="billing_address1" class="form-control" ng-model="ShippCtrl.Data.billing.address1">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="billing_address2">Block/Depto/Casa:</label>
                        <input type="text" name="billing_address2" id="billing_address2" class="form-control" ng-model="ShippCtrl.Data.billing.address2">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h4>Datos de Envío</h4>
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 form-group">
                        <div class="form-inline">
                            <div class="checkbox"><input type="checkbox" id="sameAsBilling" name="sameAsBilling"><label for="sameAsBilling"> &nbsp; ¿Datos de envío iguales a Facturación?</label></div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="shipping_rut">RUT:</label>
                        <input type="text" name="shipping_rut" id="shipping_rut" class="form-control" ng-model="ShippCtrl.Data.shipping.rut">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="shipping_name">Nombre Completo:</label>
                        <input type="text" name="shipping_name" id="shipping_name" class="form-control" ng-model="ShippCtrl.Data.shipping.name">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="shipping_email">Email:</label>
                        <input type="text" name="shipping_email" id="shipping_email" class="form-control" ng-model="ShippCtrl.Data.shipping.email">
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="shipping_phone">Teléfono:</label>
                        <input type="text" name="shipping_phone" id="shipping_phone" class="form-control" ng-model="ShippCtrl.Data.shipping.phone">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="shipping_region">Región</label>
                        <select id="shipping_region" name="shipping_region" ng-options="region as region.REGION_NOMBRE for region in ShippCtrl.shipping.regiones" ng-change="ShippCtrl.setRegionShipping(ShippCtrl.Data.shipping.region.REGION_ID)" class="form-control" ng-model="ShippCtrl.Data.shipping.region">
                            <option value="">Seleccione</option>
                        </select>
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="shipping_provincia">Provincia</label>
                        <select id="shipping_provincia" name="shipping_provincia" ng-options="provincia as provincia.PROVINCIA_NOMBRE for provincia in ShippCtrl.shipping.provincias" ng-change="ShippCtrl.setProvinciaShipping(ShippCtrl.Data.shipping.provincia.PROVINCIA_ID)" class="form-control" ng-model="ShippCtrl.Data.shipping.provincia">
                            <option value="">Seleccione</option>
                        </select>
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="shipping_comuna">Comuna</label>
                        <select id="shipping_comuna" name="shipping_comuna" ng-options="comuna as comuna.COMUNA_NOMBRE for comuna in ShippCtrl.shipping.comunas" ng-change="ShippCtrl.setComunaShipping(ShippCtrl.Data.shipping.comuna.COMUNA_ID)" class="form-control" ng-model="ShippCtrl.Data.shipping.comuna">
                            <option value="">Seleccione</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 form-group">
                        <label for="shipping_address1">Dirección:</label>
                        <input type="text" name="shipping_address1" id="shipping_address1" class="form-control" ng-model="ShippCtrl.Data.shipping.address1">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="shipping_address2">Block/Depto/Casa:</label>
                        <input type="text" name="shipping_address2" id="shipping_address2" class="form-control" ng-model="ShippCtrl.Data.shipping.address2">
                    </div>
                </div>


            </div>
            <div class="panel-footer text-right">
                <a href="#/cart" class="btn btn-success">Atrás</a>
                <a href="#/summary" class="btn btn-success">Siguiente</a>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

    var j = jQuery.noConflict();
    j(document).ready(function() {

        j('#sameAsBilling').change(function () {
            if(j('#sameAsBilling').is(':checked')){

                j('#shipping_rut').val(j('#billing_rut').val());
                j('#shipping_rut').prop('disabled', true);

                j('#shipping_name').val(j('#billing_name').val());
                j('#shipping_name').prop('disabled', true);

                j('#shipping_email').val(j('#billing_email').val());
                j('#shipping_email').prop('disabled', true);

                j('#shipping_phone').val(j('#billing_phone').val());
                j('#shipping_phone').prop('disabled', true);

                j('#shipping_region').val(j('#billing_region').val());
                j('#shipping_region').prop('disabled', true);

                j('#shipping_provincia').val(j('#billing_provincia').val());
                j('#shipping_provincia').prop('disabled', true);

                j('#shipping_comuna').val(j('#billing_comuna').val());
                j('#shipping_comuna').prop('disabled', true);

                j('#shipping_address1').val(j('#billing_address1').val());
                j('#shipping_address1').prop('disabled', true);

                j('#shipping_address2').val(j('#billing_address2').val());
                j('#shipping_address2').prop('disabled', true);


            } else {
                j('#shipping_rut').val();
                j('#shipping_rut').prop('disabled', false);

                j('#shipping_name').val();
                j('#shipping_name').prop('disabled', false);

                j('#shipping_email').val();
                j('#shipping_email').prop('disabled', false);

                j('#shipping_phone').val();
                j('#shipping_phone').prop('disabled', false);

                j('#shipping_region').val();
                j('#shipping_region').prop('disabled', false);

                j('#shipping_provincia').val();
                j('#shipping_provincia').prop('disabled', false);

                j('#shipping_comuna').val();
                j('#shipping_comuna').prop('disabled', false);

                j('#shipping_address1').val();
                j('#shipping_address1').prop('disabled', false);

                j('#shipping_address2').val();
                j('#shipping_address2').prop('disabled', false);
            }
        });
    });

</script>
