<section id="content">
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <div class="side_col_left shop">
        			<div class="widget-1 alpha box  widget_text">
                        <div class="textwidget">
                            <h2>Categorias</h2>
                        </div>
        		    </div>

                    <div class="widget-2 box  widget_wpsc_categorisation" ng-controller="CategoryCtrl as CatCtrl">

                        <div class="wpsc_categorisation_group" ng-repeat="category in CatCtrl.categories | orderBy: 'name'">
                			<ul class="wpsc_categories wpsc_top_level_categories">
                				<li class="wpsc_category_7">
                    				<a href="#/shopping/{{category.id}}" class="wpsc_category_image_link" ng-click="CatCtrl.setCategory(category.id)"></a>
                					<a href="#/shopping/{{category.id}}" ng-click="CatCtrl.setCategory(category.id)">{{ category.name }}</a>
                				</li>
                			</ul>
            			    <div class="clear_category_group"></div>
        		        </div>

                    </div>

                    <div class="shade"><div class="shade_in"><div class="shade_bg"></div></div></div>

        			<div class="clear"></div>

        		</div>
            </div>



            <div class="col-md-9" ng-controller="ShippingCtrl as ShippCtrl">

                <h1 class="category-title">Información de la Compra</h1>

                <div class="panel panel-default" >
                    <div class="panel-body">
                        <form role="form"  name="myForm" novalidate>

                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Datos de Facturación</h4>
                                    <hr>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 form-group has-feedback" ng-class="{'has-success': !myForm.billing_rut.$invalid,'has-error': myForm.billing_rut.$invalid }">
                                    <label for="billing_rut">RUT: <span ng-show="myForm.billing_rut.$invalid" class="requerido">* Requerido</span></label>
                                    <input ng-rut type="text" name="billing_rut" id="billing_rut" class="form-control" ng-model="ShippCtrl.Data.billing.rut" ng-blur="ShippCtrl.getPreviousData()" rut-format="live">
                                </div>
                                <div class="col-md-8 form-group" ng-class="{ 'has-success': !myForm.billing_business.$invalid, 'has-error': myForm.billing_business.$invalid }">
                                    <label for="billing_business">Giro: <span ng-show="myForm.billing_business.$error.required" class="requerido">* Requerido</span></label>
                                    <input type="text" name="billing_business" id="billing_business" class="form-control" ng-model="ShippCtrl.Data.billing.business" required>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 form-group" ng-class="{ 'has-success': !myForm.billing_name.$invalid, 'has-error': myForm.billing_name.$invalid }">
                                    <label for="billing_name">Razón Social: <span ng-show="myForm.billing_name.$error.required" class="requerido">* Requerido</span></label>
                                    <input type="text" name="billing_name" id="billing_name" class="form-control" ng-model="ShippCtrl.Data.billing.name" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group" ng-class="{ 'has-success': !myForm.billing_email.$invalid, 'has-error': myForm.billing_email.$invalid }">
                                    <label for="billing_email">Email: <span ng-show="myForm.billing_email.$invalid" class="requerido">* Requerido</span></label>
                                    <input type="email" name="billing_email" id="billing_email" class="form-control" ng-model="ShippCtrl.Data.billing.email" required>
                                </div>
                                <div class="col-md-6 form-group" ng-class="{ 'has-success': !myForm.billing_phone.$invalid, 'has-error': myForm.billing_phone.$invalid }">
                                    <label for="billing_phone">Teléfono: <span ng-show="myForm.billing_phone.$error.required" class="requerido">* Requerido</span></label>
                                    <input type="text" name="billing_phone" id="billing_phone" class="form-control" ng-model="ShippCtrl.Data.billing.phone" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 form-group" ng-class="{ 'has-success': !myForm.billing_region.$invalid, 'has-error': myForm.billing_region.$invalid }">
                                    <label for="billing_region">Región: <span ng-show="myForm.billing_region.$error.required" class="requerido">* Requerido</span></label>
                                    <select id="billing_region" name="billing_region" ng-options="region as region.REGION_NOMBRE for region in ShippCtrl.Data.billing.regiones" ng-change="ShippCtrl.setRegionBilling(ShippCtrl.Data.billing.region.REGION_ID)" class="form-control" ng-model="ShippCtrl.Data.billing.region" required>
                                        <option value="">Seleccione</option>
                                    </select>
                                </div>

                                <div class="col-md-4 form-group" ng-class="{ 'has-success': !myForm.billing_provincia.$invalid, 'has-error': myForm.billing_provincia.$invalid }">
                                    <label for="billing_provincia">Provincia: <span ng-show="myForm.billing_provincia.$error.required" class="requerido">* Requerido</span></label>
                                    <select id="billing_provincia" name="billing_provincia" ng-options="provincia as provincia.PROVINCIA_NOMBRE for provincia in ShippCtrl.Data.billing.provincias" ng-change="ShippCtrl.setProvinciaBilling(ShippCtrl.Data.billing.provincia.PROVINCIA_ID)" class="form-control" ng-model="ShippCtrl.Data.billing.provincia" required>
                                        <option value="">Seleccione</option>
                                    </select>
                                </div>

                                <div class="col-md-4 form-group" ng-class="{ 'has-success': !myForm.billing_comuna.$invalid, 'has-error': myForm.billing_comuna.$invalid }">
                                    <label for="billing_comuna">Comuna: <span ng-show="myForm.billing_comuna.$error.required" class="requerido">* Requerido</span></label>
                                    <select id="billing_comuna" name="billing_comuna" ng-options="comuna as comuna.COMUNA_NOMBRE for comuna in ShippCtrl.Data.billing.comunas" ng-change="ShippCtrl.setComunaBilling(ShippCtrl.Data.billing.comuna.COMUNA_ID)" class="form-control" ng-model="ShippCtrl.Data.billing.comuna" required>
                                        <option value="">Seleccione</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8 form-group" ng-class="{ 'has-success': !myForm.billing_address1.$invalid, 'has-error': myForm.billing_address1.$invalid }">
                                    <label for="billing_address1">Dirección: <span ng-show="myForm.billing_address1.$error.required" class="requerido">* Requerido</span></label>
                                    <input type="text" name="billing_address1" id="billing_address1" class="form-control" ng-model="ShippCtrl.Data.billing.address1" required>
                                </div>
                                <div class="col-md-4 form-group" ng-class="{ 'has-success': !myForm.billing_address2.$invalid, 'has-error': myForm.billing_address2.$invalid }">
                                    <label for="billing_address2">Block/Depto/Casa: <span ng-show="myForm.billing_address2.$error.required" class="requerido">* Requerido</span></label>
                                    <input type="text" name="billing_address2" id="billing_address2" class="form-control" ng-model="ShippCtrl.Data.billing.address2">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Datos de Envío</h4>
                                    <hr>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <div class="form-inline">
                                        <div class="checkbox"><input type="checkbox" id="sameAsBilling" name="sameAsBilling" ng-model="sameAsBilling" ng-change="ShippCtrl.sameAsBilling()"><label for="sameAsBilling"> &nbsp; ¿Datos de envío iguales a Facturación?</label></div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 form-group has-feedback" ng-class="{'has-success': !myForm.shipping_rut.$invalid,'has-error': myForm.shipping_rut.$invalid }">
                                    <label for="shipping_rut">RUT: <span ng-show="myForm.shipping_rut.$invalid" class="requerido">* Requerido</span></label>
                                    <input ng-rut type="text" name="shipping_rut" id="shipping_rut" class="form-control" ng-model="ShippCtrl.Data.shipping.rut" ng-disabled="sameAsBilling">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 form-group" ng-class="{ 'has-success': !myForm.shipping_name.$invalid, 'has-error': myForm.shipping_name.$invalid }">
                                    <label for="shipping_name">Nombre Completo: <span ng-show="myForm.shipping_name.$error.required" class="requerido">* Requerido</span></label>
                                    <input type="text" name="shipping_name" id="shipping_name" class="form-control" ng-model="ShippCtrl.Data.shipping.name" ng-disabled="sameAsBilling" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group" ng-class="{ 'has-success': !myForm.shipping_email.$invalid, 'has-error': myForm.shipping_email.$invalid }">
                                    <label for="shipping_email">Email: <span ng-show="myForm.shipping_email.$invalid" class="requerido">* Requerido</span></label>
                                    <input type="email" name="shipping_email" id="shipping_email" class="form-control" ng-model="ShippCtrl.Data.shipping.email" ng-disabled="sameAsBilling" required>
                                </div>
                                <div class="col-md-6 form-group" ng-class="{ 'has-success': !myForm.shipping_phone.$invalid, 'has-error': myForm.shipping_phone.$invalid }">
                                    <label for="shipping_phone">Teléfono: <span ng-show="myForm.shipping_phone.$error.required" class="requerido">* Requerido</span></label>
                                    <input type="text" name="shipping_phone" id="shipping_phone" class="form-control" ng-model="ShippCtrl.Data.shipping.phone" ng-disabled="sameAsBilling" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 form-group" ng-class="{ 'has-success': !myForm.shipping_region.$invalid, 'has-error': myForm.shipping_region.$invalid }">
                                    <label for="shipping_region">Región: <span ng-show="myForm.shipping_region.$error.required" class="requerido">* Requerido</span></label>
                                    <select id="shipping_region" name="shipping_region" ng-options="region as region.REGION_NOMBRE for region in ShippCtrl.Data.shipping.regiones" ng-change="ShippCtrl.setRegionShipping(ShippCtrl.Data.shipping.region.REGION_ID)" class="form-control" ng-model="ShippCtrl.Data.shipping.region" ng-disabled="sameAsBilling" required>
                                        <option value="">Seleccione</option>
                                    </select>
                                </div>

                                <div class="col-md-4 form-group" ng-class="{ 'has-success': !myForm.shipping_provincia.$invalid, 'has-error': myForm.shipping_provincia.$invalid }">
                                    <label for="shipping_provincia">Provincia: <span ng-show="myForm.shipping_provincia.$error.required" class="requerido">* Requerido</span></label>
                                    <select id="shipping_provincia" name="shipping_provincia" ng-options="provincia as provincia.PROVINCIA_NOMBRE for provincia in ShippCtrl.Data.shipping.provincias" ng-change="ShippCtrl.setProvinciaShipping(ShippCtrl.Data.shipping.provincia.PROVINCIA_ID)" class="form-control" ng-model="ShippCtrl.Data.shipping.provincia" ng-disabled="sameAsBilling" required>
                                        <option value="">Seleccione</option>
                                    </select>
                                </div>

                                <div class="col-md-4 form-group" ng-class="{ 'has-success': !myForm.shipping_comuna.$invalid, 'has-error': myForm.shipping_comuna.$invalid }">
                                    <label for="shipping_comuna">Comuna: <span ng-show="myForm.shipping_comuna.$error.required" class="requerido">* Requerido</span></label>
                                    <select id="shipping_comuna" name="shipping_comuna" ng-options="comuna as comuna.COMUNA_NOMBRE for comuna in ShippCtrl.Data.shipping.comunas" ng-change="ShippCtrl.setComunaShipping(ShippCtrl.Data.shipping.comuna.COMUNA_ID)" class="form-control" ng-model="ShippCtrl.Data.shipping.comuna" ng-disabled="sameAsBilling" required>
                                        <option value="">Seleccione</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8 form-group" ng-class="{ 'has-success': !myForm.shipping_address1.$invalid, 'has-error': myForm.shipping_address1.$invalid }">
                                    <label for="shipping_address1">Dirección: <span ng-show="myForm.shipping_address1.$error.required" class="requerido">* Requerido</span></label>
                                    <input type="text" name="shipping_address1" id="shipping_address1" class="form-control" ng-model="ShippCtrl.Data.shipping.address1" ng-disabled="sameAsBilling" required>
                                </div>
                                <div class="col-md-4 form-group" ng-class="{ 'has-success': !myForm.shipping_address2.$invalid, 'has-error': myForm.shipping_address2.$invalid }">
                                    <label for="shipping_address2">Block/Depto/Casa: <span ng-show="myForm.shipping_address2.$error.required" class="requerido">* Requerido</span></label>
                                    <input type="text" name="shipping_address2" id="shipping_address2" class="form-control" ng-model="ShippCtrl.Data.shipping.address2" ng-disabled="sameAsBilling">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <button ng-disabled="myForm.$invalid" ng-click="ShippCtrl.processShipping()" class="pull-right"><span>Siguiente</span></button>
                        <a href="#/cart" class="button pull-right"><span>Atrás</span></a>
                    </div>
                </div>

    		</div>
    		<div class="clear"></div>
        </div>
    </div>
</section>
