<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-md-3">


				<div class="side_col_left shop">
					<div class="widget-1 alpha box  widget_text">
		                <div class="textwidget">
		                    <h2>Productos</h2>
		                </div>
				    </div>

		            <div class="box  widget_wpsc_categorisation" ng-controller="CategoryCtrl as CatCtrl">

		                <div class="wpsc_categorisation_group" ng-repeat="category in CatCtrl.categories | orderBy: 'name'">
		        			<ul class="wpsc_categories wpsc_top_level_categories">
		        				<li class="wpsc_category_7">
		            				<a href="#/shopping/{{category.id}}" class="wpsc_category_image_link" ng-click="CatCtrl.setCategory(category.id)"></a>
		        					<a href="#/shopping/{{category.id}}" ng-click="CatCtrl.setCategory(category.id)">{{ category.name }}</a>
		        				</li>
		        			</ul>
		    			    <div class="clear_category_group"></div>
				        </div>

		            </div>

		            <div class="shade"><div class="shade_in"><div class="shade_bg"></div></div></div>

					<div class="clear"></div>



				</div>
			</div>
			<div class="col-md-9" ng-controller="ProductListCtrl as ProdCtrl">



				<h1 class="category-title" ng-show="highlights != ''">Ofertas Destacadas</h1>
	            <h1 class="category-title">{{ ProdCtrl.Data.currentCategory.name }}</h1>

	            <div class="wrap wpsc_container">

					<div class="wpsc_default_product_list">

						<div class="row">

						<div class="col-md-6" ng-repeat="product in ProdCtrl.products | orderBy: 'order'"  data-equal-height='.default_product_display' id="product_list">

		                    <div class="default_product_display" >

		                        <div class="imagecol">
		                            <a href="#/detail/{{product.id}}">
									    <img class="product_image" title="{{ product.name }}" ng-src="{{ product.image }}" alt="{{ product.name }}" height="300" width="300" />
								    </a>
						        </div>

						        <div class="productcol">
							        <h3 class="prodtitle entry-title">
									    <a class="wpsc_product_title" href="#/detail/{{product.id}}">{{ product.name }}</a>
		            				</h3>

		    						<div class="wpsc_description">
		    							<p class="text-center">
		                                    <strong>{{ product.price | currency : '$' : 1 }} {{ product.unit == 0 ? "el Kg" : "la Unidad" }}</strong>
		                                    <br>
		                                    {{ product.description }}
		                                </p>
		                            </div>

		                            <div class="wpsc_product_price">
		                                <p class="pricedisplay">
		                                    <span class="currentprice pricedisplay">
		                                        <span class="price_price">Precio:</span>
		                                        <span class="csymb">$</span>
		                                        {{ product.price * product.minimun | currency : '' : 0 }}
		                                    </span>
		                                </p>
										<div class="clear"></div>
							        </div>

									<div class="wpsc_buy_button_container">
										<a class="button" href="#/detail/{{product.id}}"><span>Comprar</span></a>
									</div>

		                            <div class="entry-utility wpsc_product_utility"></div>

								</div>

		                        <div class="shade"><div class="shade_in"><div class="shade_bg"></div></div></div>

			                </div>

						</div>

						</div>

						<div class="clear"></div>

					</div>

				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</section>

<script>


    var make_equal_height = function (element) {
        var $within     = jQuery(element),
        selector    = $within.attr('data-equal-height'),
        $children   = jQuery(selector, $within),
        tallest     = 0;

        $children.each( function() {
            var $this = jQuery(this);

            $this.css('min-height', '');
            var h = $this.height();

            if ( h > tallest ) {
                tallest = h;
            }
        });

        $children.each( function() {
            jQuery(this).css('min-height', tallest - 50 + 'px');
        });

    };

    make_equal_height(jQuery('#product_list'));

</script>
