<section id="content">
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <img src="images/bn_empresa.png" alt="" width="940" height="180" />

            <br><br>

            <div class="panel panel-default">

                <div class="panel-body">

                    <h1>NUESTRA EMPRESA</h1>

                    <p> Plásticos Bessalle es una empresa creada el año 1990 para la transformación del plástico de polietileno y específicamente
                        la fabricación de bolsas camiseta (T-Shirt Bag) para supermercados y mercado retail en general. Una amplia y reconocida
                        cartera de clientes de Chile, avalan nuestro constante compromiso de ser líderes en calidad y servicio.
                    </p>
                    <h3>Misión</h3>
                    <p> Entregar a todos nuestros clientes la satisfacción del servicio y calidad en cada producto, además exigiendo el máximo
                        esfuerzo y responsabilidad  en sus compromisos para complacencia de cada cliente en particular y mantener un sistema
                        confortable de negocios.
                    </p>
                    <p> A nuestros proveedores entregarles reglas comerciales claras y definidas para lograr las mejores condiciones de compra
                        de cada insumo y así lograr un menor costo competitivo para la producción de nuestros productos.</p>
                    <p> Contamos con personal calificado en cada área, tecnología de punta y materia prima de la más alta calidad a fin de
                        obtener un producto que cumpla los más altos estándares de calidad y satisfacción de nuestros clientes. Desde su creación
                        ha mantenido un sostenido crecimiento que nos permite liderar el mercado en el Sur de Chile.
                    </p>

                </div>

            </div>

            <div style="margin-top:40px;">
                <a href="#/services"><img src="images/destacados/despacho.png" alt="" width="220" height="162" /></a>
                <a href="#/contact"><img src="images/destacados/producto02.png" alt="" width="220" height="162" /></a>
            </div>

        </div>
    </div>
</div>
</section>
