<section id="content">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <img src="images/bn_productos.png" alt="" width="930" height="178" />
            </div>
        </div>

        <br><br>

        <div class="row">
            <div class="col-md-4">
                <div class="side_col_left shop">
                    <div class="widget-1 alpha box  widget_text">
                        <div class="textwidget">
                            <h2>Categorias</h2>
                        </div>
                    </div>
                    <div class="box  widget_wpsc_categorisation">

                        <div class="wpsc_categorisation_group">
                            <ul class="wpsc_categories wpsc_top_level_categories">
                                <li  class="wpsc_category"><a href="#/products/camiseta" class="wpsc_category"><span>Bolsas Camiseta</span></a></li>
                                <li  class="wpsc_category"><a href="#/products/rinon" class="wpsc_category"><span>Bolsas Tipo Riñon</span></a></li>
                                <li  class="wpsc_category"><a href="#/products/basura" class="wpsc_category"><span>Bolsas Tipo Basura</span></a></li>
                                <li  class="wpsc_category"><a href="#/products/medida" class="wpsc_category"><span>Bolsas a Medida</span></a></li>
                                <li  class="wpsc_category"><a href="#/products/carbon" class="wpsc_category"><span>Bolsas Tipo Carbón</span></a></li>
                                <li  class="wpsc_category"><a href="#/products/prepicado" class="wpsc_category"><span>Rollos y Mangas Prepicados</span></a></li>
                                <li  class="wpsc_category"><a href="#/products/biodegradable" class="wpsc_category"><span>Bolsas Oxo-Biodegradables</span></a></li>
                                <li  class="wpsc_category"><a href="#/products/almidon" class="wpsc_category"><span>Bolsas de Almidón (PLA)</span></a></li>
                                <li  class="wpsc_category"><a href="#/products/cintas" class="wpsc_category"><span>Cintas Peligro y Señalización</span></a></li>
                            </ul>
                            <div class="clear_category_group"></div>
                        </div>

                    </div>

                    <div class="shade"><div class="shade_in"><div class="shade_bg"></div></div></div>

                    <div class="clear"></div>

                </div>

            </div>
            <div class="col-md-8">
                <div class="panel panel-default">

                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-12">
                                <h2>BOLSA CAMISETA</h2>

                                <ul>
                                    <li><h3>Uso de acuerdo a Mercado</h3></li>
                                    <p>Este tipo de bolsas, es el que usualmente es usado en supermercados, librerías, panaderías, etc. Entre sus principales caracteristicas están las de poder ser confecionadas en distintos tamaños y con diferentes grados de resistencia.</p>
                                    <li><h3>Colores</h3></li>
                                    <p>Este producto puede ser confeccionado de acuerdo a los requerimientos de cada cliente en una amplia gama de colores.</p>

                                </ul>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-7">
                                <h3>Detalle Técnico</h3>
                                <ul>
                                    <li>Tamaño:</li>
                                    <ul>
                                        <li>32x40</li>
                                        <li>57x75</li>
                                        <li>35x45</li>
                                        <li>70x100</li>
                                        <li>40x50</li>
                                        <li>45x55</li>
                                        <li>50x60</li>
                                        <li>Otras medidas a pedido</li>
                                    </ul>
                                </ul>
                            </div>
                            <div class="col-md-5 text-right">
                                <img src="images/productos/04.png" alt="Bolsas Camiseta">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
